chap05/zzbug_xmladapter_globalelt/examples/standardtypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" targetNamespace="http://www.example.com/corp">
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="addrLine1" type="xs:string"/>
      <xs:element name="addrLine2" type="xs:string"/>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="state" type="xs:string"/>
      <xs:element name="zip" type="xs:string"/>
      <xs:element name="phone" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
