chap04/dispatch/GetOrdersDates_doclitbare.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.example.com/oms/getorders"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:oms="http://www.example.com/oms"
  xmlns:getord="http://www.example.com/oms/getorders"
  xmlns:faults="http://www.example.com/faults">
  <!--! <example xn="DOC_LIT_TYPES_MESSAGES"> -->
  <!--! <c>chap04</c><s>dispatch</s> -->
  <wsdl:types>
    <xs:schema elementFormDefault="qualified"
      targetNamespace="http://www.example.com/getord">
      <xs:import schemaLocation="http://www.example.com/oms
        http://soabook.com/example/oms/orders.xsd"/>
      <xs:import schemaLocation="http://www.example.com/faults
        http://soabook.com/example/faults/faults.xsd"/>
      <xs:element name="startDate" type="xs:date"/>
      <xs:element name="endDate" type="xs:date"/>
      <xs:element name="orders" type="oms:OrdersType"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="request">
    <wsdl:part name="parameter1" element="getord:startDate"/>
    <wsdl:part name="parameter2" element="getord:endDate"/>
  </wsdl:message>
  <wsdl:message name="response">
    <wsdl:part name="parameter1" element="getord:orders"/>
  </wsdl:message>
  <!--! </example> -->
  <wsdl:message name="inputFault">
    <wsdl:part name="parameters" element="faults:inputMessageValidationFault"/>
  </wsdl:message>
  <wsdl:portType name="GetOrdersDatesPort">
    <wsdl:operation name="getOrdersDates">
      <wsdl:input message="getord:request"/>
      <wsdl:output message="getord:response"/>
      <wsdl:fault name="getOrdersInputFault" message="getord:inputFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetOrdersDatesSOAPBinding"
    type="getord:GetOrdersDatesPort">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getOrdersDates">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getOrdersInputFault">
        <soap:fault name="getOrdersInputFault"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetOrdersDatesService">
    <wsdl:port name="GetOrdersDatesPort" binding="GetOrdersDatesSOAPBinding">
      <soap:address location="http://localhost:8080/getorders/getordersdates"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
