chap07/endpoint-endpoint/examples/generatedwsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--! <example xn="ORIGINAL_WSDL"> -->
<!--! <c>chap07</c><s>endpoint</s> -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:oms="http://www.example.com/oms" xmlns:req="http://www.example.com/req"
  xmlns:faults="http://www.example.com/faults"
  targetNamespace="http://www.example.com/req">
  <wsdl:types>
    <xs:schema targetNamespace="http://www.example.com/oms">
      <xs:include schemaLocation="http://soabook.com/example/oms/orders.xsd"/>
    </xs:schema>
    <xs:schema targetNamespace="http://www.example.com/faults">
      <xs:include schemaLocation="http://soabook.com/example/faults/faults.xsd"
      />
    </xs:schema>
    <xs:schema targetNamespace="http://www.example.com/req"
      elementFormDefault="qualified">
      <xs:element name="requestOrder">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CUST_NO">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PURCH_ORD_NO">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element type="oms:BUSOBJ_CCARD" minOccurs="0" name="ccard"/>
            <xs:element type="oms:BUSOBJ_ITEM" name="item" maxOccurs="unbounded"
            />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="requestOrderResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="oms:Order"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="request">
    <wsdl:part element="req:requestOrder" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="response">
    <wsdl:part element="req:requestOrderResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="inputFault">
    <wsdl:part element="faults:inputMessageValidationFault" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="RequestOrderPort">
    <wsdl:operation name="requestOrder">
      <wsdl:input message="req:request"/>
      <wsdl:output message="req:response"/>
      <wsdl:fault message="req:inputFault" name="requestOrderInputFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding type="req:RequestOrderPort" name="RequestOrderSOAPBinding">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="requestOrder">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="requestOrderInputFault">
        <soap:fault name="requestOrderInputFault"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RequestOrderService">
    <wsdl:port binding="req:RequestOrderSOAPBinding" name="RequestOrderPort">
      <soap:address location="http://localhost:8680/oms/requestOrder"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
<!--! </example> -->
