chap04/jaxwsworkaround/src/xml/CustomerInformation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
  <!--! <example xn="WSDL_CustomerInformation"> -->
  <!--! <c>chap04</c><s>jaxwsworkaround</s> -->
<wsdl:definitions targetNamespace="http://www.example.com/css/custinfo"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:custinfo="http://www.example.com/css/custinfo"
  xmlns:css="http://www.example.com/css"
  xmlns:corp="http://www.example.com/corp"
  xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/
  http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/soap/
  http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified"
      targetNamespace="http://www.example.com/css">
      <xs:include
        schemaLocation="http://soabook.com/example/css/custhistentries.xsd"/>
    </xs:schema>
    <xs:schema elementFormDefault="qualified"
      targetNamespace="http://www.example.com/corp">
      <xs:include
        schemaLocation="http://soabook.com/example/corp/standardtypes.xsd"/>
    </xs:schema>
    <xs:schema elementFormDefault="qualified"
      targetNamespace="http://www.example.com/css/custinfo">
      <xs:import namespace="http://www.example.com/css"/>
      <xs:import namespace="http://www.example.com/corp"/>
      <xs:element name="getAddress">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="custId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAddressResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="address" type="corp:AddressType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCustomerHistory">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="custId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCustomerHistoryResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="history" type="css:CustomerHistoryEntriesType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getAddressRequestMessage">
    <wsdl:part name="parameters" element="custinfo:getAddress"/>
  </wsdl:message>
  <wsdl:message name="getAddressResponseMessage">
    <wsdl:part name="parameters" element="custinfo:getAddressResponse"/>
  </wsdl:message>
  <wsdl:message name="getCustomerHistoryRequestMessage">
    <wsdl:part name="parameters" element="custinfo:getCustomerHistory"/>
  </wsdl:message>
  <wsdl:message name="getCustomerHistoryResponseMessage">
    <wsdl:part name="parameters" element="custinfo:getCustomerHistoryResponse"/>
  </wsdl:message>
  <wsdl:portType name="CustomerInformationPort">
    <wsdl:operation name="getAddress">
      <wsdl:input message="custinfo:getAddressRequestMessage"/>
      <wsdl:output message="custinfo:getAddressResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getCustomerHistory">
      <wsdl:input message="custinfo:getCustomerHistoryRequestMessage"/>
      <wsdl:output message="custinfo:getCustomerHistoryResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <!--! </example> -->
  <wsdl:binding name="CustomerInformationSOAPBinding"
    type="custinfo:CustomerInformationPort">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAddress">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerHistory">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerInformationService">
    <wsdl:port name="CustomerInformationPort"
      binding="custinfo:CustomerInformationSOAPBinding">
      <soap:address location="http://localhost:8080/css/customerinfo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
