chap03/rest-get/endpoint-jaxws/src/webapp/WEB-INF/wsdl/bogus.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- THIS WSDL SHOULD NOT BE NEEDED SINCE IT MAKES NO SENSE TO HAVE A WSDL WITH
     A RESTFUL SERVIER..  IT IS HERE BECAUSE OF BUG IN GLASSFISH.
     SEE ISSUE #661 -->
<wsdl:definitions targetNamespace="http://bogus.com"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bogus="http://bogus.com">
  <wsdl:types>
    <xs:schema targetNamespace="http://bogus.com">
      <xs:element name="request" type="xs:string"/>
      <xs:element name="requestWrapper">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="bogus:request"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="response" type="xs:string"/>
      <xs:element name="responseWrapper">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="bogus:response"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="request">
    <wsdl:part name="parameters" element="bogus:requestWrapper"/>
  </wsdl:message>
  <wsdl:message name="response">
    <wsdl:part name="parameters" element="bogus:responseWrapper"/>
  </wsdl:message>
  <wsdl:portType name="GetNewOrdersProviderPort">
    <wsdl:operation name="bogusOperation">
      <wsdl:input message="bogus:request"/>
      <wsdl:output message="bogus:response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetNewOrdersProviderPortBinding"
    type="bogus:GetNewOrdersProviderPort">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="request">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetNewOrdersProviderPortService">
    <wsdl:port name="GetNewOrdersProviderPortServicePort"
      binding="GetNewOrdersProviderPortBinding">
      <soap:address location="unspecified until deployment"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
