chap11/soaj/provider-javaeetesting/provider-javaeetesting-generatedwsdl-testartifacts/posystem/edited/POSystem.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- This WSDL was generated by SOAJ and edited to be used as an 
  example in the book. --> <!--! <example xn="POSystem_wsdl"> --> <!--! <c>chap11</c><s>config</s> -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://javector.com/soaj/provider/posystem"
  xmlns:soaj1="http://javector.com/ser/adaptive/po"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="POSystem"
  targetNamespace="http://javector.com/soaj/provider/posystem">
  <types>
    <xsd:schema targetNamespace="http://javector.com/ser/adaptive/po">
      <xsd:include
        schemaLocation="http://localhost:8080/posystem/config/purchaseOrder.xsd"
      />
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
      targetNamespace="http://javector.com/soaj/provider/posystem"
      elementFormDefault="qualified">
      <xsd:import namespace="http://javector.com/ser/adaptive/po"/>
      <element name="retrieveAddress">
        <complexType>
          <sequence>
            <element name="poNum" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="retrieveAddressResponse">
        <complexType>
          <sequence>
            <element ref="soaj1:billTo"/>
          </sequence>
        </complexType>
      </element>
      <element name="updateAddress">
        <complexType>
          <sequence>
            <element name="billTo" type="soaj1:BillToType"/>
            <element name="string" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="updateAddressResponse">
        <complexType>
          <sequence/>
        </complexType>
      </element>
    </xsd:schema>
  </types>
  <message name="request_retrieveAddress">
    <part name="parameters" element="tns:retrieveAddress"/>
  </message>
  <message name="response_retrieveAddress">
    <part name="parameters" element="tns:retrieveAddressResponse"/>
  </message>
  <message name="request_updateAddress">
    <part name="parameters" element="tns:updateAddress"/>
  </message>
  <message name="response_updateAddress">
    <part name="parameters" element="tns:updateAddressResponse"/>
  </message>
  <portType name="POSystemPortType">
    <operation name="retrieveAddress">
      <input message="tns:request_retrieveAddress"/>
      <output message="tns:response_retrieveAddress"/>
    </operation>
    <operation name="updateAddress">
      <input message="tns:request_updateAddress"/>
      <output message="tns:response_updateAddress"/>
    </operation>
  </portType>
  <binding name="POSystemPortBinding" type="tns:POSystemPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
      style="document"/>
    <operation name="retrieveAddress">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateAddress">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="POSystemService">
    <port name="POSystemPort" binding="tns:POSystemPortBinding">
      <soap:address location="http://localhost:8080/posystem/soaj/updateService"
      />
    </port>
  </service>
</definitions>
<!--! </example> -->
